<h1 class="title">HOME PAGE</h1>
<p class="context">We can make your trip special with your pokemon</p>
<div class="pokeball"></div>
  <div class="button-row">
    <% if user_signed_in? %>
    <%= button_to "Log out", destroy_user_session_path, method: :delete, class:"pokemon-btn" %>
    <% else %>
    <%= link_to "log In", new_user_session_path, class: "pokemon-btn" %>

    <%= link_to "Sign In", new_user_registration_path,class: "pokemon-btn" %>
  </div>
<%= image_tag "https://i.gifer.com/FKVy.gif", alt: "コダック", class: "psy-gif" %>
<% end %>
